<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand"> <a href="@Url.Action("Index","app")">Home </a></li>
            <li> <a href="@Url.Action("Index","Payrolls")">Payroll</a></li>
            <li> <a href="@Url.Action("Index","Timesheets")">Timesheets</a></li>
            <li> <a href="@Url.Action("Index","TaskDescs")">TaskDescs</a></li>
            @if (User.Identity.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()


                    @*<li class="nav-item">
                    @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>*@
                    <li class="nav-item"><a class=" " href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>

                }
            }

            @*<li> <a href="@Url.Action("Payroll","app")">Payroll</a></li>
        <li><a href="@Url.Action("Customer","app")">Customers</a><a href="@Url.Action("Vendors","app")">Vendors/Suppliers</a><a href="#">HR/Timesheet</a> </li>
        <li> <a href="#">Wallet/Inventory</a></li>*@
        </ul>
    </div>
    <div class="page-content-wrapper">
        <div class="container-fluid">
            <a class="btn btn-link" role="button" id="menu-toggle" href="#menu-toggle"><i class="fa fa-bars"></i></a>
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <h1>ShopWallet&nbsp;<small>@ViewBag.topheadding</small></h1>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>
